name: rust

services:
  init-container:
    image: alpine:latest
    container_name: "init-container"
    user: root
    command:
      - "chown"
      - "-R"
      - "10001:10001"
      - "/srv/rust/server"
    volumes:
      - type: volume
        source: server_identity
        target: "/srv/rust/server/${SERVER_NAME}"
  rust-server:
    depends_on:
      - init-container
    image: "pfeiffermax/rust-game-server:latest"
    container_name: "rust-server"
    pull_policy: always
    cpus: 2
    mem_limit: 16gb
    command:
      - "+server.ip"
      - "0.0.0.0"
      - "+server.port"
      - "28015"
      - "+server.hostname"
      - ${SERVER_NAME}
      - "+server.maxplayers"
      - "10"
      - "+server.worldsize"
      - "1000"
      - "+server.gamemode"
      - "vanilla"
      - "+server.seed"
      - "666"
      - "+server.identity"
      - ${SERVER_NAME}
      - "+rcon.ip"
      - "0.0.0.0"
      - "+rcon.port"
      - "28016"
      - "+rcon.password"
      - ${PASSWORD}
      - "+rcon.web"
      - "1"
      - "-logfile"
      - "/var/log/rust-server-${SERVER_NAME}.log"
    ports:
      - "28015:28015/udp"
      - "28016:28016/tcp"
    volumes:
      - type: volume
        source: server_identity
        target: "/srv/rust/server/${SERVER_NAME}"
      - type: bind
        source: /var/log/docker-compose/rust
        target: /var/log
    env_file: .env
  rust-web-rcon:
    image: "pfeiffermax/rust-web-rcon:latest"
    container_name: "rust-web-rcon"
    depends_on:
      - rust-server
    ports:
      - "80:80/tcp"

volumes:
  server_identity:
    name: "rust-server-identity-${SERVER_NAME}"
