{{ if not .Values.rustDedicatedServer.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "rust.fullname" . }}
  labels:
    {{- include "rust.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- range $i, $instance := .Values.instances }}
  {{ include "rust.fullname" $ }}-{{ $i }}: |
    rconPassword={{ $instance.rconPassword }}
  {{- end }}
{{- end }}