name: rust

services:
  rust-server:
    image: "pfeiffermax/rust-game-server:latest"
    pull_policy: always
    container_name: "rust-server"
    command:
      - "+server.ip"
      - "0.0.0.0"
      - "+server.port"
      - "28015"
      - "+server.hostname"
      - "Testserver"
      - "+server.maxplayers"
      - "10"
      - "+server.worldsize"
      - "1000"
      - "+server.gamemode"
      - "vanilla"
      - "+server.seed"
      - "666"
      - "+rcon.ip"
      - "0.0.0.0"
      - "+rcon.port"
      - "28016"
      - "+rcon.password"
      - "supersecret"
      - "+rcon.web"
      - "1"
      - "+server.identity"
      - "testserver"
    ports:
      - "28015:28015/udp"
      - "28016:28016/tcp"
    volumes:
      - type: volume
        source: server_identity
        target: "/srv/rust/server/testserver"

  rust-web-rcon:
    image: "pfeiffermax/rust-web-rcon:latest"
    container_name: "rust-web-rcon"
    depends_on:
      - rust-server
    ports:
      - "80:80/tcp"

volumes:
  server_identity:
    name: "rust-server-identity-testserver"
